:root {
    --main-color: #F2E1C3;
    --link-color: #A63922;
    --heading-font: 'Caveat', cursive;
    --main-font:'Oswald', sans-serif;
}

body {
    font-family: var(--main-font);
    font-weight: bold;
    color: #02385A;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 64px;
}

h3 {
font-size: 38px;
}

p {
    font-size: 18px;
    line-height: 30px;
}

nav {
    padding: 20px 15px;
    background-color: var(--main-color);
    font-size: 20px;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li{
display: inline;
list-style: none;
line-height: 40px;
}

nav a {
margin-left: 15px;
text-decoration: none;
color:#02385A;
transition: all 100ms ease-in-out
}

nav a:hover, 
nav li.active a {
    color: var(--link-color);
}

.projects-link {
  text-decoration: none;
color:#02385A;  
}

.projects-link:hover {
    color: var(--link-color);
}

.hero {
    background-color: var(--main-color);
    text-align: center;
    padding: 60px 20px;
}

.btn-link {
    background-color: #A63922;
    color:whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 30px;
    text-decoration: none;
}

.btn-link:hover {
border: 1px solid #A63922;
color: #02385A;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.project-description {
    padding: 30px 60px;
}

.content-container {
    padding: 60px 20px;
    
}

.content h1 {
    font-size: 64px;
    line-height: 1.5;
}

.content h2 {
    font-size: 20px;
}

.content h3{
   font-size: 24px; 
   line-height: 1.5;
   margin: 20px 0 0;
}

.content p{
  font-size: 14px; 
}

.content {
margin: 30px;

}

.me-img {
   border-radius: 30px;
   box-shadow: none
}

footer {
    margin: 60px 0;
}

footer .contact-box{
    background-color: var(--main-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link{
text-decoration: none;
color:#02385A;
font-size: 24px;
text-align: center;
}

footer .email-link:hover {
    color: var(--link-color)
}

footer .social-links a {
    margin: 0 20px;
    color: var(--link-color);
    background-color: var(--main-color);
    font-size: 30px;
    padding: 10px 19px;
    border-radius: 50px;
    transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--main-color);
    background-color: var(--link-color);
}

@media (max-width: 900px) {
h2 {
    font-size: 44px;
}

h3 {
    font-size: 25px;
}

.project-description {
    padding: 0;
    text-align: center;
} 
.content-container {
    text-align: center;
    padding: 0;
}

footer .contact-box {
    padding: 25px;
}

}