:root {
    --main-color: #F2E1C3;
    --link-color: #A63922;
    --heading-font: 'Caveat', cursive;
    --main-font:'Oswald', sans-serif;;
}

body {
    font-family: var(--main-font);
}

h1 {
    font-family: var(--heading-font);
    font-size: 100px;
}

.hero {
    background-color: var(--main-color);
    text-align: center;
    padding: 160px 20px;
}

.btn-link {
    background-color: #A63922;
    color:whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 30px;
    text-decoration: none;
}

.btn-link:hover {
border: 1px solid #A63922;
color: #02385A;
}